<div class="container">
  <div class="row recipe">
  <h2 class="s12 page-title">Nova Receita</h2>

  <div class="notice-container">
    <p id="notice"><%= notice %></p>
  </div>
  <%= render 'form', recipe: @recipe %>

  </div>
</div>
