<div class="container">
  <div class="row user">
    <h2 class="s12 page-title">Novo Usuário</h2>

      <div class="s12 card primary-card card-large">
        <%= render 'form', user: @user %>

        <div class="card-action">
          <%= link_to 'Back', users_path, class: 'waves-effect waves-teal btn-flat primary-btn'  %>
        </div>
      </div>



    </div>
  </div>
</div>
