// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  .user-recipe-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }

  .page-title {
    font-size: 28px;
    margin: 5px 0;

    > a.edit-link {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .notice-container {}

  .card.card-large {
    > .card-action {
      > a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating).danger-btn {
        color: $error-color;

        &:hover {
          color: $error-color-light;
        }
      }
    }
  }
}
