
<div class="container">
  <div class="row ingredient">
  <h2 class="s12 page-title">Editar Ingrediente</h2>

  <div class="notice-container">
    <p id="notice"><%= notice %></p>
  </div>
  <%= render 'form', ingredient: @ingredient %>

  </div>
</div>
