nav.nav-extended{
  background-image: url(pattern_amelia.jpg);
  .nav-primary{
    >.brand-logo{
      height: 44px;
      width: 220px;
      background-image: url(ic-logo-leaf-background.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &:hover{
        background-color: transparent;
        // background-image: url(ic-logo-leaf-background2.png);
      }
    }
    > ul.navbar-links{
      > li{
        >.navbar-search{
          position: relative;
          input[type="search"]{
            height: 30px;
            font-size: 14px;
            width: initial;
            border-radius: 50px;
            background-color: #ffffff;
            box-shadow: inset 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.9);
            border: solid 1px #e3b05c;

            display: inline-block;
            line-height: inherit;
            padding-left: 2px;
            padding-right: 20px;

            text-indent: 20px;
          }
          .btn-search{
            background-image: url(bttn-search.png);
            background-repeat: no-repeat;
            background-position-x: right;
            background-size: contain;

            position: absolute;
            height: 30px;
            width: 30px;
            padding: 0;
            background-color: transparent;
            border: none;
            right: 13px;
            top: 9px;
          }
        }
        >.link-dropdown{
          width: 110px;

          >i.ic-user{
            display: block;
            width: 35px;
            margin: 0 auto;
            background-image: url(ic-user.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }

  }
}
