
<div class="container">
  <div class="row category">
  <h2 class="s12 page-title">Editar Categorias</h2>

  <div class="notice-container">
    <p id="notice"><%= notice %></p>
  </div>
  <%= render 'form', category: @category %>

  </div>
</div>
