<div class="container">
  <div class="row category">
    <h1 class="s12 page-title">Categoria</h1>

    <div class="notice-container">
      <p id="notice"><%= notice %></p>
    </div>

    <div class="col s12 m8 offset-m2 card card-medium">
      <div class="category-info">
        <p>
          <strong>Nome:</strong>
          <%= @category.name %>
        </p>

      </div>

      <div class="card-action">
        <%= link_to 'Voltar', categories_path, class: 'primary-btn' %>
        <%= link_to 'Editar', edit_category_path(@category), class: 'primary-btn' %>
      </div>

    </div>
  </div>
</div>
